/* contact style */
* {
    
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #FFC6C6 !important;
    
}
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
  
/* Section Styling */
.form-container {
    display: flex;
    width: 90%;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 50px;
    min-height: 100vh;
    flex: 1 0 auto;
}


/* Container Styling */
.container {
    display: flex; 
    justify-content: space-between;
    width: 80%; 
    height: 100vh !important; 
    margin: 50px 0;
    border-radius: 25px; 
    overflow: hidden; 
}

.container .contactInfo{
    height: 100vh;
}

.container .contactForm{
    height: 100vh;
}

.contactInfo, .contactForm {
    flex: 1;
    height: 100%;
}

.contactInfo {
    padding: 0;
    display: flex;
    margin: 0;
    align-items: center;
    justify-content: center;
}

.contactInfo iframe {
    width: 100%;
    height: 100%;
}

.container .contactForm h2 {
    padding-bottom: 0;
    padding: 0;
    margin: 0;
}

.contactForm {
    background: #FEA8B6;
}

.contactForm .input {
    background-color: #FEA8B6;
}

/* Info Section */
.container .contactInfo ul.info li span a {
    color: #fff;
    text-decoration: none;
    width: 30px;
    min-width: 30px;
}

.container .contactInfo ul.info li span:nth-child(1) img {
    max-width: 100%;
    filter: invert(1);
}

.container .contactInfo ul.info li span:nth-child(2) {
    color: #fff;
    margin-left: 10px;
    font-weight: 300;
}

/* Social Icons */
.container .contactInfo ul.sci {
    position: relative;
    display: flex;
}

.container .contactInfo ul.sci li {
    list-style: none;
    margin-right: 15px;
}

.container .contactInfo ul.sci li a {
    text-decoration: none;
}

.container .contactInfo ul.sci li a img {
    filter: invert(1);
}

/* Contact Form Styling */
.container .contactForm {
    padding-left: 10px;
    width: 50%;
    height: 100vh;
    background: #FFFFEC;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 20px;
}

.container .contactForm h2 {
    color: #842A2A;
    font-size: 24px;
    font-weight: 500;
}

.container .contactForm .formBox {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 5px;
}

.container .contactForm .formBox .inputBox {
    position: relative;
    margin-bottom: 25px;
}

.container .contactForm .formBox .inputBox.w50 {
    width: 47%;
}

.container .contactForm .formBox .inputBox.w100 {
    width: 100%;
}

.container .contactForm .formBox .inputBox input,
.container .contactForm .formBox .inputBox textarea {
    width: 100%;
    resize: none;
    padding: 5px 0;
    font-size: 18px;
    font-weight: 300;
    color: #F1E4C3;
    border: none;
    outline: none;
    border-radius: 10px;
    background-color: #FEA8B6;
   
}

.inputBox {
    position: relative;
    margin-bottom: 20px; /* Beri jarak antar input */
}

.error-text {
    display: none; /* Sembunyikan elemen */
    color: red;
    font-size: 0.875rem;
}
.inputBox.error .error-text {
    display: block; /* Tampilkan saat ada error */
}

.inputBox input {
    width: 100%;
    padding: 10px;
    margin-right: 100px;
    font-size: 14px !important;
    color: #fff !important;
    border-radius: 5px;
    border: 1px solid #fff;
}

.inputBox label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #842A2A;
}

.inputBox .error-icon {
    display: none; /* Sembunyikan secara default */
    color: red; /* Warna ikon */
    margin-right: 8px; /* Jarak antara ikon dan teks */
    vertical-align: middle; /* Selaraskan ikon dengan teks */
}

.container .contactForm .formBox .inputBox input::-webkit-input-placeholder{
	color: #f0ecec;
}

.container .contactForm .formBox .inputBox textarea::-webkit-input-placeholder{
	color: #f0ecec;
}

.container .contactForm .formBox .inputBox textarea {
    height: 130px;
    padding: 12px !important;
    font-size: 14px !important;
    border: none;
    color: white !important;
}

.container .contactForm .formBox .inputBox input{
    height: 43px;
    padding: 12px !important;
    border: none;
    color: white;
}

.container .contactForm .formBox .inputBox span {
    position: absolute;
    left: 0;
    padding: 5px 0;
    pointer-events: none;
    font-size: 15px;
    font-weight: 300;
    transition: 0.3s;
    color: white;
    padding-left: 10px;
    justify-content: center;
    padding-top: 12px;
}


.container .contactForm .formBox .inputBox input:focus ~ span,
.container .contactForm .formBox .inputBox input:valid ~ span,
.container .contactForm .formBox .inputBox textarea:focus ~ span,
.container .contactForm .formBox .inputBox textarea:valid ~ span {
    transform: translateY(-34px);
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1px;
    color: #842A2A;
}

/* Submit Button */
.container .contactForm .formBox .inputBox input[type="submit"] {
    position: relative;
    cursor: pointer;
    background: #583138;
    border-radius: 15px;
    color: #fff;
    border: none;
    align-items: center;
    margin: auto;
    max-width: 150px;
    padding: 8px;
}

.container .contactForm .formBox .inputBox input[type="submit"]:hover {
    background: #F6B0BB !important;
}

/* Container 2 (Other Section) */
.container2 {
    max-width: 1200px;
    margin: 0 auto;
}

.place {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    padding: 20px;
}

.place-item {
    flex: 1;
    min-width: 200px;
    text-align: center;
    margin: 10px;
}

.place-item img {
    max-width: 100%;
    border-radius: 10px;
}

.place-item h1 i {
    font-size: 50px;
    width: 80px;
    height: 80px;
    background-color: #ffffff;
    color: #000;
    border-radius: 50px;
    line-height: 80px;
    text-align: center;
    border: solid 1px #000;
}

.place-item p {
    font-size: 14px;
    padding-top: 10px;
    color: #333;
}

.container, .formBox {
    overflow: visible;
}

.card-box{
    margin-bottom: 35px;
    width: 100%;
}

.dropdown-container {
    position: relative;
    width: 100%;
}

.dropdown-toggle {
    width: 100%;
    padding: 10px;
    background-color: #f6b0bb;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s ease;
}

.dropdown-toggle:focus{
    outline: none;
    border-color: transparent;
}

.dropdown-toggle:hover {
    background-color: #faa7b4;
}

.dropdown-menu {
    display: none;
    position: absolute;
    width: 100%;
    background-color: #f6b0bb;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
    z-index: 10;
}

.dropdown-menu.expan {
    display: block;
}

.dropdown-menu input {
    display: none;
}

.dropdown-menu label {
    display: block;
    padding: 10px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s ease;
    color: #fff;
}

.dropdown-menu label:hover {
    background-color: #faa7b4;
}

/* Media Queries */
@media (max-width: 768px) {
    .place {
        flex-direction: column;
        text-align: center;
    }
    .place-item {
        margin-bottom: 20px;
    }
}

@media (max-width: 1200px) {
    .container {
        width: 90%;
        height: 100vh !important;
        min-width: auto;
        margin: 20px;
    }
    .container .contactInfo {
        top: 0;
        height: 100vh !important;
        position: relative;
        box-shadow: none;
        border-radius: 22px;
    }
    .container .contactForm {
        position: relative;
        width: calc(100% - 350px);
        padding-left: 0;
        margin-left: 0;
        padding: 40px;
        height: 100vh !important;
        box-shadow: none;
    }
}

@media (max-width: 991px) {
    section {
        display: flex;
        justify-content: center;
        align-items: flex-start; /* Mengubah align-items agar mulai dari atas */
        min-height: auto; /* Menyesuaikan tinggi otomatis sesuai isi */
        padding: 140px 15px 20px; /* Tambahkan padding atas untuk memberikan jarak */
        background: #FFFFEC;
    }

    section::before {
        display: none;
    }

    .container {
        display: flex;
        flex-direction: column-reverse;
        height: 150vh;
    }

    .container .contactForm {
        width: 100%;
        height: auto; /* Ubah menjadi auto agar menyesuaikan isi */
        border-radius: 0px;
        margin-top: 20px; /* Tambahkan margin untuk memberikan jarak antar elemen */
    }

    .container .contactInfo {
        width: 100%;
        height: auto; /* Ubah menjadi auto agar menyesuaikan isi */
        flex-direction: row;
        border-radius: 22px;
        margin-bottom: 20px; /* Tambahkan margin bawah untuk memberikan jarak antar elemen */
    }

    .container .contactInfo ul.sci {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .card-box {
        width: 100%;
    }

    .outlet{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}


@media (max-width: 600px) {
    .container .contactForm {
        padding: 25px;
        padding-top: 40px;
    }
    .container .contactInfo {
        padding: 25px;
        flex-direction: column;
        align-items: flex-start;
    }
    .container .contactInfo ul.sci {
        margin-top: 40px;
    }
    .container .contactForm .formBox .inputBox.w50 {
        width: 100%;
    }

    .place-item img{
        margin-bottom: 20%;
    }

}