/* form sign in style */
.form-signin{
    background-image: url(images/pinkdonut.jpeg);
}

.signin{
    /* width: 70%; */
    background-color: #F6B0BB;
}

/* services style */
.services-text h1{
background-color: hsla(0, 52%, 34%, 10%);
width: fit-content;
border-radius: 20px; 
}

@media (max-width: 1120px) {
    main{
        
    }
}